body
  font: 12px Helvetica, Arial, sans-serif

a
	color: blue
	cursor: pointer

a:hover
	text-decoration: underline

span.blocky
	display: inline-block
	margin-right: 5px

.facet-view
	min-height: 150px;
	float: left
	width: 250px

.facet-view + div,
.facet-view + div + div
	padding-left: 260px;

h3
	margin-top: 0;